<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre de tu aplicación</title>
    <!-- Aquí puedes incluir tus estilos CSS o scripts JS comunes -->
</head>
<body>

    <!-- Barra de navegación, encabezado, o cualquier otro contenido común -->
    <header>
        <h1>Nombre de tu aplicación</h1>
        <!-- Aquí podrías incluir una barra de navegación común a todas las vistas -->
    </header>

    <!-- Aquí se insertará el contenido específico de cada vista -->
    {{{body}}}

    <!-- Pie de página, scripts comunes, etc. -->
    <footer>
        <!-- Aquí podrías incluir el pie de página común a todas las vistas -->
    </footer>

    <!-- Aquí puedes incluir tus scripts JS al final del body si es necesario -->
</body>
</html>
